<div layout="row" layout-align="end end">
	<div id="sorting" layout="row" layout-align="end end">
		<span class="label">Sort</span>
		<md-input-container md-no-float id="sortContainer">
			<md-select ng-model="itemCtrl.sort_state" id="sortSelecter">
				<md-option ng-repeat="state in itemCtrl.sort_states" value="{{state.abbrev}}" class="sort-option">
					{{state.abbrev}}
				</md-option>
			</md-select>
		</md-input-container>
	</div>

	<!--
	<div id="layouting" layout="row" layout-align="end end" flex-offset="5">
		<span class="label">Layout</span>
		<md-button class="md-icon-button layout-btn"><span class="glyphicon glyphicon-th-large"></span></md-button>
		<md-button class="md-icon-button layout-btn"><span class="glyphicon glyphicon-th"></span></md-button>
	</div>
	-->
</div>