<div id="detail">
	<div id="heading">
		<h1>SIEBOLD COLLECTION</h1>
		<p><a ng-href="#/">もどる</a></p>
	</div>
	<div id="main-content" layout="row">
		<div id="imageArea" flex="50">
			<img ng-src="./../siebold/images/800/SMV-S{{detailCtrl.item.s_no+detailCtrl.item.branch_no}}/0.jpg">
		</div>
		<div id="infoArea" flex="50">
			<div id="info-heading">
				<h3 class="s_no">資料番号　S{{detailCtrl.item.s_no}}</h3>
				<h2 class="name_ja">{{detailCtrl.item.title_ja}}</h2>
			</div>
			<div id="properties" layout="column">
				<div id="propaties-heading" layout="row">
					<h5 flex="50">資料情報</h5>
					<h5>関連する資料</h5>
				</div>
				<div class="property" layout="row">
					<div class="value" flex="50" layout="row" layout-aling="space-between">
						<h4 flex="30">資料種別</h4>
						<p ng-repeat="type in detailCtrl.item.document_type">{{type.name}}</p>
					</div>
					<div class="relations" layout="row">
						<div class="relation item" ng-repeat="relation in detailCtrl.item.relations.document_type">
							<a ng-href="#/detail/S{{relation.s_no}}/{{relation.branch_no}}">
								<img ng-src="./../siebold/images/100/SMV-S{{relation.s_no+relation.branch_no}}/0.jpg">
							</a>
						</div>
						<div class="relation more">・・・</div>
					</div>
				</div>
				<div class="property" layout="row">
					<div class="value" flex="50" layout="row" layout-aling="space-between">
						<h4 flex="30">時代</h4>
						<p></p>
					</div>
					<div class="relations" layout="row">

					</div>
				</div>
				<div class="property" layout="row">
					<div class="value" flex="50" layout="row" layout-aling="space-between">
						<h4 flex="30">地域</h4>
						<p></p>
					</div>
					<div class="relations" layout="row">
					</div>
				</div>
				<div class="property" layout="row">
					<div class="value" flex="50" layout="row" layout-aling="space-between">
						<h4 flex="30">作者</h4>
						<p></p>
					</div>
					<div class="relations" layout="row">
					</div>
				</div>
				<div class="property" layout="row">
					<div class="value" flex="50" layout="row" layout-aling="space-between">
						<h4 flex="30">材質</h4>
						<p ng-repeat="type in detailCtrl.item.material">{{type.name}}</p>
					</div>
					<div class="relations" layout="row">
					</div>
				</div>
				<div class="property" layout="row">
					<div class="value" flex="50" layout="row" layout-aling="space-between">
						<h4 flex="30">技法</h4>
						<p ng-repeat="type in detailCtrl.item.technique">{{type.name}}</p>
					</div>
					<div class="relations" layout="row">
						<div class="relations" layout="row">
							<div class="relation item" ng-repeat="relation in detailCtrl.item.relations.technique">
								<a ng-href="#/detail/S{{relation.s_no}}/{{relation.branch_no}}">
									<img ng-src="./../siebold/images/100/SMV-S{{relation.s_no+relation.branch_no}}/0.jpg">
								</a>
							</div>
							<div class="relation more">・・・</div>
						</div>
					</div>
				</div>
				<div class="property" layout="row">
					<div class="value" flex="50" layout="row" layout-aling="space-between">
						<h4 flex="30">文様</h4>
						<p ng-repeat="type in detailCtrl.item.pattern">{{type.name}}</p>
					</div>
					<div class="relations" layout="row">

					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-content">
		<ul id="documents-nav" layout="row">
			<li
				class="item nav"
				ng-repeat="item in detailCtrl.Items.navItems">
				<a ng-href="#/detail/S{{item.s_no}}/{{item.branch_no}}">
					<p class="label">S{{item.s_no+item.branch_no}}</p>
					<img ng-src="./../siebold/images/100/SMV-S{{item.s_no+item.branch_no}}/0.jpg">
				</a>
			</li>
		</ul>
	</div>
</div>