<div id="whole" layout="column" >
		<div id="heading">
			<h1 id="logo">SIEBOLD COLLECTION</h1>
		</div>
		<div id="main-content">
			<div id="items">
				<div
					on-finish-render="ngRepeatFinished"
					class="item"
					id="{{item.id}}"
					ng-repeat="item in wholeCtrl.Items.items"
					ng-style="{ left: wholeCtrl.Position.getPos($index).view_x, top: wholeCtrl.Position.getPos($index).view_y }"
					ng-class="{ visible: wholeCtrl.Position.getVisiblity(wholeCtrl.Position.getPos($index).x) }"
					ng-click="wholeCtrl.toDetail( item )"
					>
					<p class="label">S{{item.s_no+item.branch_no}}</p>
					<img ng-src="{{wholeCtrl.Item.getImageURL(item,100)}}">
				</div>
			</div>
		</div>
		<div id="sub-content" layout="row" layout-align="center end">
			<layout-selecter></layout-selecter>
		</div>
</div>