@import "color";
@import "vars";

header{
	padding: 30px $common-padding-desktop-HD;
	padding-bottom: 20px;
	padding-bottom: 0px;

	#logo{
		margin: 0;
		font-size: 11pt;
		font-weight: bold;
		font-family: 'Raleway';
	}

	#primaryNav ul li{
		display: block;
		padding: 0 20px;
		cursor: pointer;
		outline: none;

		a{
			color: $Gray400;
			font-weight: bold;
			font-size: 10pt;
		}
		&:hover a{
			color: $Gray900;
			text-decoration: none;
		}
		&.active a{
			color: $Cyan800;
		}
	}

	#secondaryNav ul li{
		a{
			display: block;
			padding: 0 10px;
			color: $Gray400;
			font-size: 8pt;
		}
		&:hover a{
			color: $Gray900;
			text-decoration: underline;
		}
		&.active a{
			color: $Cyan800;
		}
	}
}