@import "color";
@import "mixins";

#modal-background{
	position: fixed;
	top:0; left: 0;
	background-color: rgba($Gray50,.8);
	display: none;
}

#modal-pager{
	#pager-prev,
	#pager-next{
		@include animate;
		position: fixed;
		top: 5%;
		min-width: 30px;
		width: 2.5%;
		margin: 0;
		background-color: none;
		border-radius: 0;
		opacity: 0;
		&:hover{
			cursor: pointer;
		}
	}
	#pager-prev{
		left: 0;
		background: -webkit-linear-gradient(left, rgba(0,0,0,.4) 0%, rgba(0,0,0,0) 100%);
		background: -o-linear-gradient(left, rgba(0,0,0,.4) 0%, rgba(0,0,0,0) 100%);
		background: linear-gradient(to right, rgba(0,0,0,.4) 0%, rgba(0,0,0,0) 100%);
	}
	#pager-next{
		right: 0;
		background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.4) 100%);
		background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.4) 100%);
		background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.4) 100%);
	}

	#pager-prev.active,
	#pager-next.active{
		opacity: .2;
		&:hover{
			opacity: 1;
		}
	}
}

.item-modal{
	display: none;
	position: fixed;
	top: 0; left: 0;
	z-index: 0;
	background-color: $White;
	border-radius: 2px;

	.inner{
		width: 100%;
		height: 100%;
		margin: 0;

		.modal-image{
			position: relative;
			height: 100%;
			padding: 0;
			background-color: $Gray500;
			.img-trim{
				opacity: 0.5;
			}
			.img-trim,.loader,.img-full{
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%,-50%);
				-moz-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
			}
			.img-full{
				max-height: 100%;
			}
		}
		.modal-info{
			min-height: 100%;
			padding: 5px 24px;
			overflow-y: scroll;

			.item-advanced{
				.md-icon-button{
					z-index: 9999;
					position: relative;
					right: -10px;
					margin: 0;
				}
				.trash-btn{
					color: $Red200;
					&:hover{ color: $Red500; }
				}
				.favorit-btn{
					&:hover{ color: $Pink500; }
					.active{
						color: $Pink500;
						&:hover{ color: $Pink700;}
					}
				}
				.edit-btn{
					&:hover{ color: $Green500; }
					.active{
						color: $Green500;
						&:hover{ color: $Green700;}
					}
				}
			}

			&.editting{
				md-chips.md-default-theme .md-chips,
				md-chips .md-chips{
					//border-bottom: 1px solid $Blue500;
				}
			}

			.title{
				width: 100%;
				position: relative;
				margin-top: -30px;
				margin-bottom: 2em;
				h2{
					margin-top: 0;
					font-size: 18pt;
					small{
						margin-bottom: 24px;
						font-size: 10pt;
						line-height: 3em;
					}
					a{
						&:hover{
							color: $Blue500;
						}
					}
				}
			}
			.label{
				padding: 0;
				font-size: 9pt;
				color: $Gray700;
				font-weight: bold;
			}

			.md-chips{
				box-shadow: none;
				margin: 0;
				padding: 0;
				.md-chip-input-container{ margin: 0; }
				.md-chip{
					@include animate;
					margin-top:0;
					margin-bottom: 3px;
					border-radius: 3px;
					background-color: $BlueGray50;
					font-size: 11pt;
					height: 1.8em;
					cursor: pointer;
					outline: none;
					md-chip-template.ng-binding{
						position: relative;
						top: -3px;
						outline: none;
					}
					.ng-isolate-scope{
						position: relative;
						left: 12px;
						top: 5px;
						&:hover{
							color: $Red800;
						}
						cursor: pointer;
					}
					&:hover{
						background-color: $Cyan500;
						color: $White;
					}
					md-chip-template.ng-binding.ng-scope{
						position: relative;
						top: -2px;
					}
				}
			}
			.editting .md-chips .md-chip{
				background-color: $White;
				border: 1px solid $Cyan500;
				color: $Gray700;
				cursor: default;
				&:hover{
					background-color: $White;
					border: 1px solid $Cyan500;
					color: $Gray700;
				}
				md-chip-template.ng-binding{
					cursor: default;
				}
			}

			.description,
			.category,
			.album,
			.tag{
				margin-bottom: 1.8em;
			}
		}

		.modal-close{
			position: absolute;
			top: 0px; left: 0;

			button{
				@include animate;
				margin: 0;
				border-radius: 0;
				opacity: 0.8;
				background-color: $Gray700;
				color: $Gray500;
				&:hover{
					background-color: $Gray300;
					color: $Gray500;
				}
			}
		}
	}
}