@import "color";
@import "mixins";

#searchingArea{
	margin-bottom: 24px;

	#search-base{
		#seachiFormContainer{
			margin: 0;
			height: 70px;
			overflow: hidden;
			min-height: 0;
			#search-base-label{
				@include animate;
				margin: 0;
				padding: 5px 2px;
				font-weight: bold;
			}
			&.md-input-has-value #search-base-label{ color: $Cyan800; }
			&.md-input-focused #search-base-label{ color: $Cyan800; }
			&.md-input-focused #seachiForm{ border-color: $Cyan600; }
			#seachiForm,#seachiFormPlaceholder{
				font-size: 14pt;
				margin-top: 20px;
				margin-left: 20px;
				padding: 0;
				letter-spacing: 0.1px;
				font-family: 'Lato', Helvetica, 'Hiragino Kaku Gothic Pro', Arial, sans-serif;
				&#seachiFormPlaceholder{
					color: $Gray500;
				}
			}
		}
	}

}